target/
lib_managed/
project/boot/
project/build/target/
project/plugins/target/
project/plugins/lib_managed/
project/plugins/src_managed/
.settings/
.idea/
.idea_modules/
*.iml
*/bin/
*/gen/
*/tmp/
*.classpath
*.project
*/local.properties
*/.settings
**.log
release.properties
project.properties
